body {
	font-family: Circular, Arial, Helvetica, sans-serif;
}

#profile {
	padding: 20px;
	background-color: rgb(58, 195, 216);
}

.intro {
	font-size: 18px;
	color: gray;
}

ul > li {
	font-weight: bold;
	color: #292348;
}
