body {
	font-family: Circular, Arial, Helvetica, sans-serif;
}

.profile {
	padding: 20px;
	background-color: rgb(58, 195, 216);
}

.intro {
	font-size: 18px;
	color: gray;
}

ul > li {
	font-weight: bold;
}

.title {
	color: white;
	background-color: #292348;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
}

.container > div {
	padding: 20px;
}
